.homePage .body-title {
    padding: 2rem 1.75rem 0 1.75rem;
}

.homePage .body-missionStatement-text-whatIsREACH {
    margin-bottom: 2rem;
}
.homePage h2.body-missionStatement-text-whatIsREACH-question {
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.homePage .body-missionStatement-text-whatIsREACH-answer {
    font-size: 1.25rem;
}

.homePage .body-missionStatement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 3rem;
}
.homePage .body-missionStatement-text {
    margin-right: .75rem;
}
.homePage .body-missionStatement-text h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.homePage .body-missionStatement-text-paragraph {
    font-size: 1.25rem;
}

.homePage .body-carouselTitle {
    margin: 2rem 0;
    padding: 0 3rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.homePage .carousel-text {
    bottom: 30%;
}
.homePage .carousel-text h3, .homePage .carousel-text p {
    color: #2F4775;
    margin: 2rem;
}

.homePage .carousel-control-next,
.homePage .carousel-control-prev {
    opacity: 1;
}
.homePage .carousel-control-next-icon {
    background-image: url('../../public/img/carousel-forward-icon.png');
}
.homePage .carousel-control-prev-icon {
    background-image: url('../../public/img/carousel-backward-icon.png');
}
.homePage .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border: 1px solid #2F4775;
    border-radius: 25px;
    opacity: 1;
    margin: 0 .75rem;
}
.carousel-indicators .active {
    background-color: #2F4775;
}

.homePage .body-project-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 5rem;
}
.homePage .body-project-context h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}
.homePage .body-project-context p {
    text-align: center;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    
    .homePage .body-missionStatement-picture {
        margin-left: 3rem;
    }
}

@media (min-width: 992px) {
    .homePage .body-missionStatement-container {
        flex-direction: row;
    }
}