.howToPAge .body {
    display: flex;
    justify-content: center;
}

.howToPage .body-description {
    margin: 1.5rem 5rem;
    text-align: center;
}

.howToPage .body-allhowToCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.howToPage .howToCard {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 570px;
    padding: 1.5rem;
    margin: 1.25rem 1rem;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
}

.howToPage .howToCard-question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.howToPage .howToCard-question {
    font-weight: bold;
}
.howToPage .howToCard-question-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}


@media (min-width: 576px) {
    .howToPage .body-description {
        margin: 1.5rem 10rem;
    }

    .howToPage .howToCard {
        padding: 3rem;
    }
}

@media (min-width: 768px) {
    .howToPage .body-description {
        margin: 1.5rem 15rem;
    }

    .howToPage .howToCard {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .howToPage .body-description {
        margin: 1.5rem 20rem;
    }
}

@media (min-width: 1200px) {
    .howToPage .body-description {
        margin: 1.5rem 25rem;
    }
}