.howToPage .body {
    justify-content: center;
}

.howToPage .body-description {
    margin: 1.5rem 5rem;
    text-align: center;
}

/* .howToPage .body-allhowToCards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
} */

.howToPage .howToCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 404px;
    padding: 1.5rem;
    margin: 1.25rem 1rem;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
    min-height: 150px;
}
.howToPage .howToCard .howToCard-answer {
    display: none;
}
.howToPage .masonry-container > div {
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
}

.howToPage .howToCard:hover .howToCard-answer,
.howToPage .howToCard:focus .howToCard-answer {
    display: inline;
}

.howToPage .howToCard:hover .howToCard-question-container,
.howToPage .howToCard:focus .howToCard-question-container {
    display: none;
}

.howToPage .howToCard-question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.howToPage .howToCard-question {
    font-weight: bold;
}
.howToPage .howToCard-question-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}


@media (min-width: 576px) {
    .howToPage .body-description {
        margin: 1.5rem 10rem;
    }

    .howToPage .howToCard {
        padding: 3rem;
    }
}

@media (min-width: 768px) {
    .howToPage .body-description {
        margin: 1.5rem 15rem;
    }
}

@media (min-width: 992px) {
    .howToPage .body {
        margin: 0 10rem;
    }
}

@media (min-width: 1200px) {

}