.howToPage .body {
    justify-content: center;
}

.howToPage .body-description {
    margin: 1.5rem 5rem;
    text-align: center;
}

.howToPage .howToCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 5px rgba(0, 0, 0, 0.25);
    min-height: 150px;
}

.howToPage .howToCard-question {
    overflow-wrap: break-word;
    margin: 0;
}
.howToPage .howToCard-answer {
    overflow-wrap: break-word;
    text-align: center;
    margin: 1rem;
    /* transition: 1s ease-in-out; */
}

.howToPage .howToCard-answer-container {
    display: none;
    /* transition: .5s ease-in-out; */
}
.howToPage .howToCard-answer-container.showing {
    display: inline;
    /* transition: .5s ease-in-out; */
}

.howToPage .masonry-container > div {
    align-items: center;
    justify-content: center;
}

.howToPage .howToCard-question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.howToPage .howToCard-question {
    font-weight: bold;
}
.howToPage .howToCard-question-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}


@media (min-width: 576px) {
    .howToPage .body-description {
        margin: 1.5rem 10rem;
    }
}

@media (min-width: 768px) {
    .howToPage .body-description {
        margin: 1.5rem 15rem;
    }
}

@media (min-width: 992px) {
    .howToPage .body {
        margin: 0 5rem;
    }
}

@media (min-width: 1200px) {
}