body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #2F4775;
  box-sizing: border-box;
}

/* headers will be  */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}
