.navBar {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
    padding-top: .5rem;
}

.navBar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.navBar-logo {
    color: #6C98FC;
}

.navBar-menu-item {
    list-style-type: none;
    padding: 0 1rem;
}

.navBar-menu-item-link {
    text-decoration: none;
    color: #2F4775;
}

div.resourcePage li.resources-link .navBar-menu-item-link,
div.discussionForumPage li.discussionForum-link .navBar-menu-item-link,
div.FAQPage li.FAQ-link .navBar-menu-item-link {
    font-weight: bold;
    font-size: 1.125rem;
}

.navBar-banner-container {
    position: relative;
}

.navBar-banner-img {
    width: 100%;
    height: auto;
}

.navBar-banner-overlay-title {
    position: absolute;
    bottom: -8px;
}

.navBar-banner-overlay-title h1 {
    background-color: #2F4775;
    color: white;
    padding: .25rem 1rem 0 .5rem;
    border-top-right-radius: 25px;
}

@media (min-width:769px) {
    .navBar-spacer {
        padding: 50px;
    }
}


