.resourcePage-content-container {
    display: flex;
    flex-direction: column;
}
.filterBar {
    padding-left: 1.5rem;
}
.filterBar h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    margin: 0rem 0 .75rem 0;
}
.filterBar-options {
    padding: 0;
    margin-top: 0;
}
.filterBar-options li {
    list-style-type: none;
}
.filterBar-options li button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1rem;
    font-size: .9rem;
    background-color: white;
    border-top: 1px solid #6C98FC;
    border-bottom: none;
    border-left: none;
    border-right: none;
} .filterBar-options li button.last-button {
    border-bottom: 1px solid #6C98FC;
}
.filterBar-options li button img {
    width: 13px;
}

.resource-type-tabs {
    justify-content: center;
    margin: 2rem 6rem;
    border: 2px solid #C4D2F0;
    border-radius: 20px;
}
.resource-type-tabs .nav-link {
    margin: .5rem;
    padding: 0 1rem;
    font-weight: bold;
    color: #2F4675;
    transition: none;
}
.resource-type-tabs .nav-link:hover {
    border: 2px solid #2F4675;
    border-radius: 25px;
}
.resource-type-tabs .nav-link.active {
    background-color: #FFC3A1;
    border: 2px solid #2F4675;
    border-radius: 25px;
    color: #2F4675;
}

.resources {
    margin-left: .5rem;
}

.resource-card-img {
    width: 232px;
    height: 111px;
    border-radius: 25px;
}

@media (min-width: 481px) {
    .resourcePage-content-container {
        flex-direction: row;
    }
}

@media (min-width: 769px) {
    .filterBar {
        width: 20%;
    }
}
